# Attestation Sociale ACOSS

<aside class="warning">
À compter du 25 septembre 2019:
<p>Pour un SIREN donné il ne sera possible d'accéder à l'attestation que <strong>10 fois par jours</strong> où avant il n'y avait pas limite. Une fois cette limite atteinte il faudra attendre le lendemain (00h00) pour obtenir de nouveau cette attestation.</p>
<p>Cette limitation est mise en place directement par le fournisseur de données (ACOSS).</p>
<p>Il est donc recommandé d'avoir un système de cache pour les attestations sociales.</p>
</aside>

> Format du JSON de retour lorsque l'attestation sociale est disponible :

``` json
{
    "url":
    "https://storage.entreprise.api.gouv.fr/siade/1569156881-f749d75e2bfd443316e2e02d59015f-attestation_vigilance_acoss.pdf"
}
```

Cette API permet de récupérer l’attestation de vigilance d’une entreprise.

L’attestation de vigilance permet de prouver que l’entreprise respecte les règles applicables en matière de lutte contre le travail dissimulé.

Exemple de document renvoyé : [Attestation de Marché publicUrssaf](files/attestation_sociale.pdf)

**Combien de temps est valide l’attestation de vigilance ?**

L’attestation de vigilance est valide 6 mois à compter de la dernière date de période analysée. Celle-ci dépend de la situation de chaque entreprise et de la dernière déclaration enregistrée dans le système.

**L’api ne renvoie pas de pièce, est ce que ça veut dire que l’entreprise n’est pas à jour ?**

Non, dans certain cas, nous ne pouvons pas récupérer l’attestation. Ça ne signifie pas que l’entreprise n’est pas à jour.

**L’api ne renvoie pas la pièce, est ce que ça veut dire qu’elle ne sera jamais disponible ?**

Non, dans certain cas, la requête lance une demande dans le système de l’ACOSS qui necessite un traitement par un gestionnaire avant que l’attestation soit disponible.

**Pourquoi ne puis-je plus avoir l'Attestation de Marché Publique ?**

L'AMP a été supprimée les inforations sont maintenant contenus dans l'attestation de vigilance.

### Requête HTTP

`GET https://entreprise.api.gouv.fr/v2/attestations_sociales_acoss/:siren`

### Paramètres de requête

Nom              | Présence    | Description
---              | --------    | -----------
token            | obligatoire | Votre jeton d'authentification
siren            | obligatoire | Siren de l'entreprise
type_attestation | optionnel   | Le type d'attestation demandé, actuellement seul `AVG_UR` (Attestation de Vigilance Urssaf) est disponible
<%= partial "includes/params_obligatoires" %>
