# Entreprises

> Format du JSON de retour :

```json
{
  "entreprise": {
    "siren": "418166096",
    "capital_social": 459356,
    "numero_tva_intracommunautaire": "FR16418166096",
    "forme_juridique": "SA à directoire (s.a.i.)",
    "forme_juridique_code": "5699",
    "nom_commercial": "OCTO-TECHNOLOGY",
    "procedure_collective": false,
    "enseigne": null,
    "naf_entreprise": "6202A",
    "libelle_naf_entreprise": "Conseil en systèmes et logiciels informatiques",
    "raison_sociale": "OCTO-TECHNOLOGY",
    "siret_siege_social": "41816609600051",
    "code_effectif_entreprise": "31",
    "date_creation": 891381600,
    "nom": null,
    "prenom": null,
    "date_radiation": null,
    "categorie_entreprise": "PME",
    "tranche_effectif_salarie_entreprise": {
      "de": 200,
      "a": 249,
      "code": "31",
      "date_reference": "2014",
      "intitule": "200 à 249 salariés"
    },
    "mandataires_sociaux": [{
      "nom": "HISQUIN",
      "prenom": "FRANCOIS",
      "fonction": "PRESIDENT DU DIRECTOIRE",
      "dirigeant": true,
      "date_naissance": "1965-01-27",
      "date_naissance_timestamp": -155523600,
      "raison_sociale": "",
      "identifiant": "",
      "type": "PP"
    }, {
      "nom": "BONTE",
      "prenom": "NICOLAS",
      "fonction": "PRESIDENT DU CONSEIL DE SURVEILLANCE",
      "dirigeant": true,
      "date_naissance": "1965-01-21",
      "date_naissance_timestamp": -156042000,
      "raison_sociale": "",
      "identifiant": "",
      "type": "PP"
    }, {
      "nom": "BOSQUE",
        "prenom": "WILLIAM",
        "fonction": "VICE PRESIDENT ET MEMBRE DU CONSEIL DE SURVEILLANCE",
        "dirigeant": true,
        "date_naissance": "1970-12-31",
        "date_naissance_timestamp": 31446000,
        "raison_sociale": "",
        "identifiant": "",
        "type": "PP"
    }, {
      "nom": "",
        "prenom": "",
        "fonction": "COMMISSAIRE AUX COMPTES SUPPLEANT",
        "dirigeant": true,
        "date_naissance": "",
        "date_naissance_timestamp": 0,
        "raison_sociale": "BCRH & ASSOCIES - SOCIETE A RESPONSABILITE LIMITEE A ASSOCIE UNIQUE",
        "identifiant": "490092574",
        "type": "PM"
      }
    ],
    "etat_administratif": {
      "value": "A",
      "date_cessation": null
    }
  },
  "etablissement_siege": {
    "siege_social": true,
    "siret": "41816609600051",
    "naf": "6202A",
    "libelle_naf": "Conseil en systèmes et logiciels informatiques",
    "date_mise_a_jour": 1449183600,
    "tranche_effectif_salarie_etablissement": {
      "de": 200,
      "a": 249,
      "code": "31",
      "date_reference": "2014",
      "intitule": "200 à 249 salariés"
    },
    "date_creation_etablissement": 1108594800,
    "enseigne": null,
    "region_implantation": {
      "code": "11",
      "value": "Île-de-France"
    },
    "commune_implantation": {
      "code": "75108",
      "value": "PARIS 8"
    },
    "pays_implantation": {
      "code": null,
      "value": null
    },
    "diffusable_commercialement": null,
    "adresse": {
      "l1": "OCTO TECHNOLOGY",
      "l2": null,
      "l3": null,
      "l4": "50 AVENUE DES CHAMPS ELYSEES",
      "l5": null,
      "l6": "75008 PARIS",
      "l7": "FRANCE",
      "numero_voie": "50",
      "type_voie": "AV",
      "nom_voie": "DES CHAMPS ELYSEES",
      "complement_adresse": null,
      "code_postal": "75008",
      "localite": "PARIS 8",
      "code_insee_localite": "75108",
      "cedex": null
    },
    "etat_administratif": {
      "value": "A",
      "date_fermeture": null
    }
  },
  "gateway_error": false
}
```

<aside class="warning">
A compter du XX/XX/2018 cette API est re-construite à partir des données de <a href="https://api.insse.fr">la nouvelle API de l'INSEE</a>

L'arrêt de l'ancien service est prévu pour juin 2019.
</aside>

<%= partial "includes/with_etat_administratif" %>

### Numéro de TVA

Le numéro de TVA intracommunautaire est calculé par API Entreprise selon la [règle officielle](https://fr.wikipedia.org/wiki/Code_Insee#Num%C3%A9ro_de_TVA_intracommunautaire). **Cette donnée est théorique**

Dans le cas où l'établissement siège est à l'étranger la valeur est systématiquement mise à nul. En effet dans ce cas le numéro de TVA est problablement calculé par le pays où se situe l'établissement siège et _non par la France_. La **seule source** fiable dans ce cas est l'entreprise elle-même.

<%=partial "includes/rnvp" %>

### Requête HTTP
`GET https://entreprise.api.gouv.fr/v2/entreprises/:siren`

### Paramètres de requête
Nom       | Présence    | Description
---       | --------    | -----------
token     | obligatoire | Votre jeton d'authentification
siren     | obligatoire | Siren de l'entreprise
with_etat_administratif | facultatif | true ou false
<%= partial "includes/params_obligatoires" %>

Cet endpoint permet de récupérer des informations concernant une entreprise.
Le JSON de retour est composé de trois clés :

* `entreprise` contient les données de l'entreprise
* `etablissement_siege` contient les données "établissement" du siege de
  l'entreprise (voire [Etablissement](#etablissement))
* `gateway_error` indique si un des fournisseurs de données n'a pas
  correctement fonctionné.

### Entreprise

La liste exhaustive des champs renvoyés est disponible dans l'exemple ci-contre.
Voici néanmoins quelques précisions sur certaines clés :

* les diverses dates (`date_debut`, `date_creation`, `date_fin`) sont fournies
  au format timestamp UNIX ;
* le champ `procedure_collective` est à ignorer : il renvoie toujours false et
  sera supprimé à terme ;
* le champ `dirigeant` renvoie toujours `true`. INFOGREFFE devrait mettre à
  disposition un nouveau service et fournir la liste des dirigeants ;
* le champ `code_effectif_entreprise` correspond au référentiel de l'INSEE :
  <a href='http://www.sirene.fr/sirene/public/variable/tefen'>Nomenclature
  INSEE</a> ;
* le champ `numero_tva_intracommunautaire` correspond au numéro de TVA
  intracommunautaire également appelé numéro d'identification fiscale NIF ;
* les champs `forme_juridique` et `forme_juridique_code` sont issus de la <a
  href='http://www.sirene.fr/sirene/public/variable/tefen'>Nomenclature
  INSEE</a> ;
* Les champs `forme_juridique` et `forme_juridique_code` sont issus de la nomenclature
  de l’INSEE que vous pouvez trouver là : <a href='http://www.insee.fr/fr/methodes/default.asp?page=nomenclatures/cj/cj-arbre.htm'>Nomenclature INSEE</a>
* le champ `date_radiation` est NULL si l'entreprise n'est pas radiée du
  registre du commerce. Dans le cas contraire la date de radiation est fournie
  au format timestamp.

Le champ `etat_administratif` est l’état juridique de l’entreprise (source
INSEE) : Cette variable est une donnée de l’entreprise. Elle qualifie l’entreprise
à un moment donné. Une entreprise au répertoire SIRENE :

* peut être juridiquement active tant que sa personnalité morale existe, c’est à dire tant qu’elle n’a pas déclaré sa cessation.
* peut être juridiquement cessée.

L’entreprise est considérée juridiquement active :

* lorsqu’elle a été inscrite sans activité à sa demande (création au répertoire mais sans avoir encore démarré une activité : activité principale “0000Z”).
* si elle n’a plus d’établissement en activité (cessation économique : EtatEco = 3).
* suite au décès de l’exploitant ou à une dissolution.

Valeurs : Active, Cessée

<a href='http://www.sirene.fr/static-resources/doc/sirenage_interpretation.pdf?version=2.6.2'>Sources</a>

### Mandataires sociaux

Il y a deux types de mandataires sociaux : les personnes physiques et les
personnes morales.

Pour une personne physque le champ `type` vaut `"PP"` et les données fournies
sont :

* `nom`
* `prenom`
* `fonction`
* `dirigeant`
* `date_naissance`
* `date_naissance_timestamp`
* `type`

Pour une personne morale le champ `type` vaut `"PM"` et les données fournies
sont :

* `fonction`
* `dirigeant`
* `raison_sociale`
* `identifiant` (élément facultatif qui peut être vide ou bie un nombre de 7, 8
  ou 9 digits)
* `type`

Tous les autres champs retournés sont vides.
