## Informations sur l'établissements

> Format du JSON renvoyé :

```json
{
  "etablissement": {
    "siege_social": true,
      "siret": "41816609600051",
      "naf": "6202A",
      "libelle_naf": "Conseil en systèmes et logiciels informatiques",
      "date_mise_a_jour": 1449183600,
      "tranche_effectif_salarie_etablissement": {
        "de": 200,
        "a": 249,
        "code": "31",
        "date_reference": "2014",
        "intitule": "200 à 249 salariés"
      },
      "date_creation_etablissement": 1108594800,
      "enseigne": null,
      "region_implantation": {
        "code": "11",
        "value": "Île-de-France"
      },
      "commune_implantation": {
        "code": "75108",
        "value": "PARIS 8"
      },
      "pays_implantation": {
        "code": null,
        "value": null
      },
      "diffusable_commercialement": null,
      "adresse": {
        "l1": "OCTO TECHNOLOGY",
        "l2": null,
        "l3": null,
        "l4": "50 AVENUE DES CHAMPS ELYSEES",
        "l5": null,
        "l6": "75008 PARIS",
        "l7": "FRANCE",
        "numero_voie": "50",
        "type_voie": "AV",
        "nom_voie": "DES CHAMPS ELYSEES",
        "complement_adresse": null,
        "code_postal": "75008",
        "localite": "PARIS 8",
        "code_insee_localite": "75108",
        "cedex": null
      }
  },
  "gateway_error": false
}
```

<aside class="warning">
A compter du XX/XX/2018 cette API est re-construite à partir des données de <a href="https://api.insse.fr">la nouvelle API de l'INSEE</a>
</aside>

### Règles de reconstruction de l'adresse

Depuis le 21/06/2018 l'INSEE ne fournit plus d'adresse au format RNVP. Nous opérons une reconstruction à partir des champs disponible dans leur nouvelle API.

Il ne s'agit que de concaténation des champs transmit pas l'INSEE de leur API, ça n'est pas un traitement RNVP.

l1: `raison sociale` si nul `civilité` + `prenom 1` + (`nom usage` si nul `nom`)

l2: `raison sociale usuelle 1` + `raison sociale usuelle 2` + `raison sociale usuelle 3`

l3: `complément d'adresse`

l4: `numero voie` + `indice de répétition` + `type de voie` + `libellé voie`

l5: `distribution spéciale`

l6: `code cedex` + `libellé code cedex` si nul `code postal` +  `libellé commune` si nul `libellé commune étranger`

l7: `libellé du pays`

### Requête HTTP

`GET https://entreprise.api.gouv.fr/v2/etablissements/:siret`

### Paramètres de requête

Nom       | Présence    | Description
---       | --------    | -----------
token     | obligatoire | Votre jeton d'authentification
siret     | obligatoire | Siret de l'entreprise
<%= partial "includes/params_obligatoires" %>

Le JSON de retour est composé de deux clés :

* `etablissement` contient les informations de l'établissement
* `gateway_error` n'est plus utilisé et n'est plus renvoyé

`etat_administratif_etablissement` est une donnée de l’établissement. Elle qualifie l’établissement à un moment donné et permet de distinguer les établissements qui exercent une activité de ceux qui n’en exercent pas. Un établissement au répertoire SIRENE :

* est actif tant qu’il n’a pas déclaré sa fermeture. La date de création associée est la date de création de l’identifiant SIRET.
* est fermé lors de la déclaration de cessation d’activité à cette adresse. Sont notamment considérés comme actifs les établissements sièges d’une entreprise sans activité.

Valeurs : Actif, Fermé

<a href='http://www.sirene.fr/static-resources/doc/sirenage_interpretation.pdf?version=2.6.2'>Source</a>

La liste exhaustive de tous les champs disponibles pour `etablissement` est disponible dans l'exemple ci-contre.

Les informations d’adresse sont issues des adresses géographiques et normalisées. Nous ne prenons pas en compte l’adresse déclarée. La géolocalisation de l’entreprise peut être faite grâce au service de géocodage suivant : <a href='http://adresse.data.gouv.fr'>http://adresse.data.gouv.fr</a>
