## Informations sur l'établissements

> Format du JSON renvoyé :

```json
{
  "etablissement": {
    "siege_social": true,
    "siret": "41816609600051",
    "naf": "6202A",
    "libelle_naf": "Conseil en systèmes et logiciels informatiques",
    "date_mise_a_jour": 1449183600,
    "tranche_effectif_salarie_etablissement": {
      "de": 200,
      "a": 249,
      "code": "31",
      "date_reference": "2014",
      "intitule": "200 à 249 salariés"
    },
    "date_creation_etablissement": 1108594800,
    "enseigne": null,
    "region_implantation": {
      "code": "11",
      "value": "Île-de-France"
    },
    "commune_implantation": {
      "code": "75108",
      "value": "PARIS 8"
    },
    "pays_implantation": {
      "code": null,
      "value": null
    },
    "diffusable_commercialement": null,
    "adresse": {
      "l1": "OCTO TECHNOLOGY",
      "l2": null,
      "l3": null,
      "l4": "50 AVENUE DES CHAMPS ELYSEES",
      "l5": null,
      "l6": "75008 PARIS",
      "l7": "FRANCE",
      "numero_voie": "50",
      "type_voie": "AV",
      "nom_voie": "DES CHAMPS ELYSEES",
      "complement_adresse": null,
      "code_postal": "75008",
      "localite": "PARIS 8",
      "code_insee_localite": "75108",
      "cedex": null
    },
    "etat_administratif": {
      "value": "F", # A (actif) ou F (fermé)
      "date_fermeture": 1315173600 # null quand actif (A), un timestamp (un entier) quand fermé (F)
    }
  },
  "gateway_error": false
}
```

<aside class="warning">
A compter du lundi 13 mai 2019 cette API sera re-construite à partir des données de <a href="https://api.insee.fr">la nouvelle API de l'INSEE</a>

L'arrêt de l'ancien service est prévu pour juin 2019.
</aside>

### Èvolutions de la source de données INSEE

<%= partial "includes/with_insee_v3" %>

### Requête HTTP

`GET https://entreprise.api.gouv.fr/v2/etablissements/:siret`

### Paramètres de requête

Nom       | Présence    | Description
---       | --------    | -----------
token     | obligatoire | Votre jeton d'authentification
siret     | obligatoire | Siret de l'entreprise
with_etat_administratif | facultatif | true ou false
<%= partial "includes/params_obligatoires" %>

Le JSON de retour est composé de deux clés :

* `etablissement` contient les informations de l'établissement
* `gateway_error` n'est plus utilisé et n'est plus renvoyé

<a href='http://www.sirene.fr/static-resources/doc/sirenage_interpretation.pdf?version=2.6.2'>Source</a>

La liste exhaustive de tous les champs disponibles pour `etablissement` est disponible dans l'exemple ci-contre.

Les informations d’adresse sont issues des adresses géographiques et normalisées. Nous ne prenons pas en compte l’adresse déclarée. La géolocalisation de l’entreprise peut être faite grâce au service de géocodage suivant : <a href='http://adresse.data.gouv.fr'>http://adresse.data.gouv.fr</a>

Cette API est succeptible de renvoyer un code HTTP 403 même si votre token vous permet d'y accéder, référrez-vous à la section sur les [SIREN et SIRET non-diffusables](#siren-et-siret-non-diffusables) pour plus de détails.

### L'État administratif

> Valeurs possibles de l'état administratif pour un établissement

```json
"etat_administratif": {
  "value": "F", # A (actif) ou F (fermé)
  "date_fermeture": 1315173600 # null quand actif (A), un timestamp (un entier) quand fermé (F)
}
```

`etat_administratif_etablissement` est une donnée de l’établissement. Elle qualifie l’établissement à un moment donné et permet de distinguer les établissements qui exercent une activité de ceux qui n’en exercent pas. Un établissement au répertoire SIRENE :

* est actif tant qu’il n’a pas déclaré sa fermeture. La date de création associée est la date de création de l’identifiant SIRET.
* est fermé lors de la déclaration de cessation d’activité à cette adresse. Sont notamment considérés comme actifs les établissements sièges d’une entreprise sans activité.

La liste exhaustive de toutes les valeurs possibles l'état administratif de l'établissement est disponible dans l'exemple ci-contre.

<%= partial "includes/rnvp" %>

<aside class="warning">
  Attention, des cas particuliers concernant les numéros SIRET existent :

  <ul>
    <li>
      <a href="https://fr.wikipedia.org/wiki/Syst%C3%A8me_d%27identification_du_r%C3%A9pertoire_des_%C3%A9tablissements#Exceptions_notables)" target="_blank">
        Exceptions notables (Wikipédia)
      </a>
    </li>

    <li>
      <a href="https://fr.wikipedia.org/wiki/Syst%C3%A8me_d%27identification_du_r%C3%A9pertoire_des_%C3%A9tablissements#Calcul_et_validit%C3%A9_d'un_num%C3%A9ro_SIRET)" target="_blank">
        Calcul et validité d'un numéro SIRET (Wikipédia)
      </a>
    </li>

    <li>
      <a href="https://fr.wikipedia.org/wiki/Syst%C3%A8me_national_d'identification_et_du_r%C3%A9pertoire_des_entreprises_et_de_leurs_%C3%A9tablissements#Entreprises,_organismes_et_associations_exclus_de_la_diffusion_publique)" target="_blank">
        Entreprises, organismes et associations exclus de la diffusion publique (Wikipédia)
      </a>
    </li>
  </ul>
</aside>
