---
title: Documentation API Entreprise

language_tabs:
  - json
  - yaml

toc_footers:
  - <a href='https://signup.entreprise.api.gouv.fr'>Demander un token</a>

includes:
  - introduction
  - versionnage_api
  - demandes_assistance
  - volumetrie
  - temps_de_reponse
  - cotisations_msa
  - cotisations_retraite_probtp
  - pourquoi_legacy
  - entreprises
  - entreprises_legacy
  - etablissements
  - etablissements_legacy
  - extraits_rcs_infogreffe
  - exercices
  - attestation_agefiph
  - attestation_fiscale_dgfip
  - attestation_sociale_acoss
  - certificats_qualibat
  - certificats_cnetp
  - certificats_opqibi
  - association
  - documents_association
  - extraits_courts_inpi
  - cartes_professionnelles_fntp
  - liasses_fiscales_dgfip
  - privileges
  - errors

search: true
---
